body {
  background-color: white;
  color: black;
  font-size: 18px;
}

.dark-mode {
  background-color: black;
  color: white;
}
.title{
  color:#165f5a;
  text-align: center;
  font-family: Helvetica;
}
p.lead{
  font-family: Helvetica;
  font-size: 16px;
  padding-left:25px;
  padding-bottom: 25px;
  display: inline-block;
}
.scroll-panel{
  padding-top:50px;
}
#about_col{
  padding:60px 0 40px 0;
}
#about_col>p{
  color:#164f5a;
  padding-top:7px;
}
mark{
  background-color: #AAB7B8;
  color:black;
}